[submodule ".vim/bundle/puppet"]
	path = .vim/bundle/puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule ".vim/bundle/sensible"]
	path = .vim/bundle/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule ".vim/bundle/json"]
	path = .vim/bundle/json
	url = https://github.com/elzr/vim-json.git
