**/*.swp
**/.DS_Store
.CFUserTextEncoding
.Trash/
.account
.bash_history
.cups/
.lesshst
.ssh/
.viminfo
Applications/
Applications (Parallels)/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
